.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Home page container */
.home-container {
  text-align: center;
  margin-top: 50px;
}

/* Quiz page container */
.quiz-container {
  text-align: center;
  margin-top: 50px;
}

/* Login page container */
.login-container {
  text-align: center;
  margin-top: 50px;
}

/* Styles for AnswerQuiz.js */
.error-text {
  color: red;
}

.song-guess-item {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}

.artist-input {
  display: block;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* Consider adjusting for responsiveness */
  padding: 8px;
  /* Added for better appearance */
}

.songname-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* Consider adjusting for responsiveness */
  padding: 8px;
  /* Added for better appearance */
}

.user-avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.logout-button {
  margin-top: 20px;
}